<html>
    <head>
        <title>Magic Tweets Reader</title>
    </head>
    <body class = "body">
        <text><h1>EC500 Homework 5 -REST</h1></text>
        <text>2020 Version 1.0<br></text>
        <text>Copywrite: sulihu@bu.edu</text>
        <text><h3>Introduction</h3></text>
        <text>This web application can help get tweets by timeline from a taget user with its twitter screen name<br></text>
        <text>The result will be made into a video file, in wich every tweet displays 3 seconds<br></text>
        <text>You may set the number of tweets you want <br></text>

        <form method="POST">
            <br>Target Screen ID: (example: @Shakespeare)<br><input type="text" name="userName"><br>
            <br>Number of Tweets: (example: 5)<br><input type="text" name="twtNum"><br>
            <br><input type="submit" value="Make and Download">
        </form>
    </body>
</html>